<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Form Suite" parallel="classes" thread-count="2">
	<test name="testForm">
		<classes>
			<class name="com.gravity.InvalidDataTest" />
			<class name="com.gravity.SendValidDataTest" />
		</classes>
	</test>
</suite>

